{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table class="table">
        <thead>
            <th>Date & Time</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Shares</th>
            <th>TOTAL</th>
        </thead>
        {% for transaction in history -%}
        <tr>
            <td>{{ transaction.date_time }}</td>
            <td>
                <a href="{{ info_url }}{{transaction.symbol}}" target="_blank">{{ transaction.symbol }}</a>
            </td>
            <td>{{ transaction.name }}</td>
            <td {% if transaction.type == "sale" -%} style="color:green"
                {% elif transaction.type == "purchase" -%} style="color:red" {%- endif %}>{{ transaction.type }}</td>
            <td>{{ transaction.price | usd }}</td>
            <td>{{ transaction.shares | int }}</td>
            <td {% if transaction.type == "sale" -%} style="color:green"
                {% elif transaction.type == "purchase" -%} style="color:red" {%- endif %}>
                {{ transaction.total | usd }}
            </td>
        </tr>
        {%- endfor %}
    </table>
{% endblock %}