{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <table class="table">
        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        {% for stock in stocks -%}
        <tr>
            <td>
                <a target="_blank" href="{{ info_url }}{{ stock.symbol }}">{{ stock.symbol }}</a>
            </td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.shares | int }}</td>
            <td>{{ stock.current_price | usd }}</td>
            <td>{{ stock.current_value | usd }}</td>
        </tr>
        {%- endfor %}
        <tr>
            <td colspan="4">CASH</td>
            <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td colspan="4">TOTAL</td>
            <td>{{ total | usd }}</td>
        </tr>
    </table>
{% endblock %}